:root {
    --cor-linha: hsl(215, 32%, 27%);
    --cor-main-background: hsl(217, 54%, 11%);
    --cor-card-background: hsl(216, 50%, 16%);
    --cor-soft-blue: hsl(215, 51%, 70%);
    --cor-cyan: hsl(178, 100%, 50%);
}